{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<div class="main-container">
    <div class="welcome-section">
        <h1>Chào mừng đến với MathQuiz</h1>
        {% if 'user_id' not in session %}
            <p class="message-user">Vui lòng đăng nhập hoặc đăng ký để bắt đầu.</p>
            <div class="action-buttons">
                <a href="{{ url_for('login') }}" class="btn">Đăng nhập</a>
                <a href="{{ url_for('register') }}" class="btn">Đăng ký</a>
            </div>
        {% else %}
            <p class="welcome-message">Xin chào, <b>{{ session['username'] }}</b>!</p>
            <div class="container mt-4"> 
                <!-- Form nhập mã bài kiểm tra và nút tham gia -->
                <form method="POST" class="quiz-join-form">
                    <div class="input-container">
                        <input type="text" id="quiz_code" name="quiz_code" class="quiz-input" placeholder="Nhập mã tham gia" required>
                        <button type="submit" class="quiz-btn">Tham gia</button>
                    </div>
                </form>
            </div>
            
        {% endif %}
    </div>
    
   
</div>
{% endblock %}
